# **Tugas 1 - Dissimilarity**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#awal mengimpor library pandas dan numpy 
import pandas as pd 
import numpy as np

In [37]:
#lalu menampilkan data yang sudah di upload di google drive
data = pd.read_csv('https://raw.githubusercontent.com/niniengC/dataset/main/healthcare-dataset-stroke-data.csv')
#menampikan data dari bawah karena ada survived yang berbeda
data.tail()

,id,gender,age,hypertension,...,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,...,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,...,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,...,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,...,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,...,85.28,26.2,Unknown,0

In [ ]:
#mengecek tipe data yang ada di data 
data.dtypes

LamaUsaha          int64
Pekerja            int64
Omzet              int64
JumlahAset         int64
HasilKeputusan    object
dtype: object

In [ ]:
# Show dataset shape / # Tampilkan bentuk kumpulan data
number_of_columns = data.shape[1]

In [ ]:
# Show all columns for dataset / # Tampilkan semua kolom untuk kumpulan data
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Tampilkan semua kolom dari kerangka data
data.columns

Index(['PassengerId', 'Country', 'Firstname', 'Lastname', 'Sex', 'Age',
       'Category', 'Survived'],
      dtype='object')

**Tipe Data Nominal / Categorical**

Data nominal disebut juga dengan skala nominal. Data nominal adalah salah satu jenis data statistik kualitatif, yang membantu memberi label pada variabel tanpa memberikan nilai numerik.

Meski begitu, terkadang, datanya bisa kualitatif dan kuantitatif. Contoh data nominal adalah huruf, simbol, kata, jenis kelamin, dan sebagainya.

Data nominal diperiksa menggunakan metode pengelompokan. Dalam metodenya, data dikelompokkan ke dalam kategori. Kemudian frekuensi atau persentase data dihitung. Data ini direpresentasikan secara visual menggunakan diagram lingkaran.

dalam dataset kali ini saya akan menampilkan data nominal yakni terdiri dari "**firsname, Categorical dan surviived**"

In [ ]:
#lihat ada 2 macam categori dalam data set (C dan P)
data[["Firstname","Category", "Survived"]].head(10)

      Firstname Category  Survived
0   ARVID KALLE        P         0
1           LEA        C         0
2          AIRI        C         0
3          JURI        C         0
..          ...      ...       ...
6       HJALMAR        P         0
7         PILLE        P         0
8         TORMI        C         0
9    ANNA MARIA        P         0

[10 rows x 3 columns]

In [ ]:
data[["Firstname","Category", "Survived"]].tail(10)
# dalam data survived juga ada data 0 / 1

             Firstname Category  Survived
979               KNUD        P         0
980  GUNHILD ANNA-LISA        P         0
981       LARS TORSTEN        P         1
982        MAUD HELENA        P         0
..                 ...      ...       ...
985       ELMAR MIKAEL        P         1
986                ENN        P         0
987                 LY        P         0
988               CARL        P         1

[10 rows x 3 columns]

**Mengubah data ke 0/1**

*   data yang di ambil dari kolom "Category"
*   Misal : nilai P dirubah menjadi 1
*   Misal : nilai C dirubah menjadi 0

In [ ]:
# Category code
code_embark_for_Corom = "C"
code_embark_for_porom = "P"

# binary value
value_of_one = 1
value_of_zero = 0

#function mengubah 
def change_code_Category_to_biner(Category):
    return value_of_one if Category == code_embark_for_porom else value_of_zero

In [ ]:
# Update all values of 'Category' series / mengupdate nilai kolom Category 
data["Category"] = data["Category"].apply(change_code_Category_to_biner)

In [ ]:
data[["Firstname","Category", "Survived"]].head(10)

      Firstname  Category  Survived
0   ARVID KALLE         1         0
1           LEA         0         0
2          AIRI         0         0
3          JURI         0         0
..          ...       ...       ...
6       HJALMAR         1         0
7         PILLE         1         0
8         TORMI         0         0
9    ANNA MARIA         1         0

[10 rows x 3 columns]

In [ ]:
#implementasi nomor colom 

# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(data, idx, series):
    return data.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(data, series_index = [], series = []):
    first_series = get_series(data, series_index[0], series)
    second_series = get_series(data, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(data, [5,9], ["Category", "Survived"]).T

          5  9
Category  1  1
Survived  0  0

In [ ]:
data.loc[0:5, ["Category", "Survived"]]

   Category  Survived
0         1         0
1         0         0
2         0         0
3         0         0
4         1         0
5         1         0

In [ ]:
def count_contingency_value(data, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = data.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(data.loc[(start_index):(last_index), data.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
data_1_2 = get_dissimilarity_dataset(data, [1,2], ["Category", "Survived"])

In [ ]:
c_data_1_2 = count_contingency_value(data_1_2, 1, 2)

In [ ]:
# d(1,3)
data_1_3 = get_dissimilarity_dataset(data, [1,3], ["Category", "Survived"])

In [ ]:
c_data_1_3 = count_contingency_value(data_1_3, 1, 3)

In [ ]:
# d(1,4)
data_1_4 = get_dissimilarity_dataset(data, [1,4], ["Category", "Survived"])

In [ ]:
c_data_1_4 = count_contingency_value(data_1_4, 1, 4)

In [ ]:
# d(1,5)
data_1_5 = get_dissimilarity_dataset(data, [1,5], ["Category", "Survived"])

In [ ]:
c_data_1_5 = count_contingency_value(data_1_5, 1, 5)

In [ ]:
# d(1,5)
data_4_1 = get_dissimilarity_dataset(data, [4,1], ["Category", "Survived"])

In [ ]:
c_data_4_1 = count_contingency_value(data_4_1, 4, 1)

**Rumus Nilai Assimetri Biner Dissimilarity**


$\frac{a + b}{a + b + c} $

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_data_4_1)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_data_4_1)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_data_4_1)

In [ ]:
d_1_2

1.0

In [ ]:
d_1_3

1.0

In [ ]:
d_1_4

1.0

*Selesai*